body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(148, 177, 102);
    color: rgb(0, 0, 0);
}

.container {
    min-height: calc(100vh - 40px); /* Ensures footer stays at the bottom */
    display: flex;
    flex-direction: column;
}

.banner {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
    color: white;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.title {
    flex-grow: 1;
    padding: 0 20px;
}

.contact-link {
    display: block;
    margin-top: 10px;
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
}

.contact-link:hover {
    color: #ffd700;
}

.logo {
    width: 100px;
    height: auto;
}

.profile-pic {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.main-content {
    background: url('socialdatasciencecollage.png') no-repeat center center fixed;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.contact-info {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

footer {
    background-color: rgb(179, 182, 185);
    color: rgb(0, 48, 86);
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffa500;
}

.content {
    display: flex;
    width: 100%;
    padding: 20px;
}

.left-frame {
    flex: 3;
    margin-right: 20px;
}

.right-frame {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.right-frame ul {
    list-style-type: none;
    padding: 0;
}

.right-frame ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.right-frame ul li a {
    color: #004056;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.right-frame ul li a:hover {
    color: #2296ab;
}

.popout {
    font-size: 1.2em;
    margin-left: 10px;
}
