body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('socialdatasciencecollage.png') no-repeat center center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 1;
}

.title {
    flex-grow: 1;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.profile-pic {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

nav {
    margin-top: 0.5in; /* Move navigation down by half an inch */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Add margin to move the nav links down */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffa500;
}

h1, h2 {
    margin: 10px 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; /* Move the main content down */
}

.box {
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: rgb(179, 182, 185);
    color: rgb(0, 48, 86);
    padding: 10px;
}
